*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: content-box; */
}


div, span{
    background-color: orange;
    height: 100px;
    width: 100px;

    padding: 10px;
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */

    border: 5px solid blue;
    margin: 100px;
}

span{
    /* display: block; */
    /* display: inline-block; */
    display: none;
    /* visibility: hidden; */
}