h1{
    color: red;
}

h2{
    color: rgb(125, 10, 255);
}

h3{
    color: rgba(250, 10, 8,0.5);

}

div{
    /* color: #3f110c; */
    /* color: #3400ff; */
    color: #656d4a;
    color: #656d4a11;
}